Repository mimatt24/FieldofHorrors, changes with the labels that .github/labeler.yml gives for each.
All labels: type:design, type:docs, type:chore, area:arena, area:weapons, area:telegraphs, area:ux, area:telemetry, area:narrative

chore(ci): require type+area labels on PRs
  .github/workflows/label-policy.yml
Labels: type:chore

docs(pr-template): add label checklist
  .github/pull_request_template.md
Labels: type:docs, type:chore

chore(community): baseline community health files, badges, dependabot, CodeQL, Scorecard, gitleaks
  .editorconfig
  .gitattributes
  .github/ISSUE_TEMPLATE/config.yml
  .github/dependabot.yml
  .github/workflows/codeql.yml
  .github/workflows/gitleaks.yml
  .github/workflows/scorecard.yml
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  LICENSE
  README.md
  SECURITY.md
  SUPPORT.md
Labels: type:docs, type:chore

docs(index): autogenerated docs index + CI link checker (Lychee)
  .github/lychee.toml
  .github/workflows/link-check.yml
  FieldOfHorrors/docs/README.md
  FieldOfHorrors/history/changelog/2025-09-14.md
  FieldOfHorrors/tools/check_links_local.sh
  FieldOfHorrors/tools/gen_docs_index.sh
Labels: type:docs, type:chore

Design: seed class system v0.1 + chat bundle exporter
  .github/workflows/chat_bundle.yml
  FieldOfHorrors/README.md
Labels: type:docs, type:chore

Design: add six-class spec, docs bundle system, data stubs, CI
  .github/workflows/ci.yml
  FieldOfHorrors/data/classes/classes.json
  FieldOfHorrors/docs/design/_catalog/README.md
  FieldOfHorrors/docs/design/arena_cards/README.md
  FieldOfHorrors/docs/design/classes/batter.md
  FieldOfHorrors/docs/design/classes/linebacker.md
  FieldOfHorrors/docs/design/classes/pitcher.md
  FieldOfHorrors/docs/design/classes/point_guard.md
  FieldOfHorrors/docs/design/classes/power_forward.md
  FieldOfHorrors/docs/design/classes/qb.md
  FieldOfHorrors/docs/design/skills/qb_summons.md
  FieldOfHorrors/docs/design/systems/combat_overview.md
  FieldOfHorrors/docs/design/weapons/foam_finger_pike.md
  FieldOfHorrors/docs/design/weapons/shoulder_ram.md
  FieldOfHorrors/docs/design/weapons/whistle_bomb.md
  FieldOfHorrors/tools/bundle_docs.sh
Labels: type:design, type:docs, type:chore, area:arena, area:weapons

Repair: ensure class/weapon/skill docs, systems overview, bundler, arena index
  FieldOfHorrors/FieldOfHorrors/docs/design/classes/batter.md
  FieldOfHorrors/FieldOfHorrors/docs/design/classes/linebacker.md
  FieldOfHorrors/FieldOfHorrors/docs/design/classes/pitcher.md
  FieldOfHorrors/FieldOfHorrors/docs/design/classes/point_guard.md
  FieldOfHorrors/FieldOfHorrors/docs/design/classes/qb.md
  FieldOfHorrors/FieldOfHorrors/docs/design/systems/combat_overview.md
  FieldOfHorrors/docs/_bundle/ALL_DOCS.md
Labels: type:docs

Tools: add Git Bash session logger (start/finish), logs bundler, chat archive index
  .gitignore
  FieldOfHorrors/tools/bundle_docs.sh
  FieldOfHorrors/tools/finish_session.sh
  FieldOfHorrors/tools/start_session.sh
Labels: type:chore

Docs: add CHATGPT_INDEX.md and README quick links
  CHATGPT_INDEX.md
  README.md
Labels: type:docs

CI: auto-build ChatGPT bundles & index via PR; add bundlers and root index
  .github/workflows/automerge-bundles.yml
  .github/workflows/chatgpt-bundles.yml
  CHATGPT_INDEX.md
  FieldOfHorrors/tools/bundle_docs.sh
  FieldOfHorrors/tools/bundle_logs.sh
Labels: type:docs, type:chore

CI: add full repo text snapshot bundler; include in auto PR and index
  .github/workflows/chatgpt-bundles.yml
  CHATGPT_INDEX.md
  FieldOfHorrors/tools/bundle_everything.sh
  README.md
Labels: type:docs, type:chore

Automation: bundles + full snapshot + validations + auto report via PR
  FieldOfHorrors/.github/workflows/chatgpt-bundles.yml
  FieldOfHorrors/CHATGPT_INDEX.md
  FieldOfHorrors/FieldOfHorrors/tools/bundle_docs.sh
  FieldOfHorrors/FieldOfHorrors/tools/bundle_everything.sh
  FieldOfHorrors/FieldOfHorrors/tools/bundle_logs.sh
  FieldOfHorrors/FieldOfHorrors/tools/validate_repo.sh
Labels: type:docs

ci: add auto-build for canonical bundles
  FieldOfHorrors/.github/workflows/build-bundles.yml
Labels: none

design: PoE2-lean skill tree v1 + weighted debuff crystals (guardrails)
  FieldOfHorrors/FieldOfHorrors/docs/design/classes/trees/skill_tree_v1.yaml
  FieldOfHorrors/FieldOfHorrors/docs/design/mods/debuff_crystals.yaml
Labels: none

design: PoE2-lean skill tree v1
  FieldOfHorrors/FieldOfHorrors/docs/design/classes/trees/skill_tree_v1.yaml
Labels: none

design: weighted debuff crystals + guardrails
  FieldOfHorrors/FieldOfHorrors/docs/design/mods/debuff_crystals.yaml
Labels: none

design: per-class detail pages (PoE2-lean) with early/mid/keystone/capstone structure
  FieldOfHorrors/FieldOfHorrors/docs/design/classes/detail/batter.md
  FieldOfHorrors/FieldOfHorrors/docs/design/classes/detail/center.md
  FieldOfHorrors/FieldOfHorrors/docs/design/classes/detail/linebacker.md
  FieldOfHorrors/FieldOfHorrors/docs/design/classes/detail/pitcher.md
  FieldOfHorrors/FieldOfHorrors/docs/design/classes/detail/point_guard.md
  FieldOfHorrors/FieldOfHorrors/docs/design/classes/detail/quarterback.md
Labels: type:docs

.github/labeler.yml:

type:design:
  - changed-files:
      - any-glob-to-any-file: ['FieldOfHorrors/docs/design/**','FieldOfHorrors/docs/diagrams/**']
type:docs:
  - changed-files:
      - any-glob-to-any-file: ['**/*.md','**/*.mmd']
type:chore:
  - changed-files:
      - any-glob-to-any-file: ['.github/**','FieldOfHorrors/tools/**']
area:arena:
  - changed-files:
      - any-glob-to-any-file: ['FieldOfHorrors/docs/design/arena_cards/**']
area:weapons:
  - changed-files:
      - any-glob-to-any-file: ['FieldOfHorrors/docs/design/weapons/**']
area:telegraphs:
  - changed-files:
      - any-glob-to-any-file: ['FieldOfHorrors/docs/design/telegraphs/**']
area:ux:
  - changed-files:
      - any-glob-to-any-file: ['FieldOfHorrors/docs/ux/**']
area:telemetry:
  - changed-files:
      - any-glob-to-any-file: ['FieldOfHorrors/docs/telemetry/**','FieldOfHorrors/tools/validate_design_rules.py']
area:narrative:
  - changed-files:
      - any-glob-to-any-file: ['FieldOfHorrors/docs/narrative/**']
